.aboutJumbotron {
    color: white;
}

.aboutJumbotron img {
    max-height: 500px;
    max-width: 500px;
    margin: auto;
}

.aboutJumbotron p {
    font-size: 1.1rem;
    margin: auto;
}

.aboutJumbotron a {
    color: #00aeff;
}

@media only screen and (max-width: 600px) {
    
}