.homecard.card.text-center {
  width: auto;
  margin: 1% 3%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.cardImage img{
  display: block;
  margin: auto;
  max-height: 200px;
  max-width: 750px;
  overflow: hidden;
  object-fit: scale-down;
}

.card-body.text-dark {
    margin: auto;
    width: auto;
    display: inline-block;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  }

.modal-content {
  background: rgb(184, 181, 181) !important;
  max-height: 100vh !important;
}

.modal-header {
  align-items: center !important;
  justify-content: center !important;
}