.main-footer {
  background: #333;
  color: white;
  padding: 3em;
  position: sticky;
  top: 100%;
}

.footerContainer.row {
  width: 100%;
  display: flex;
  padding-top: 1%;
}

.footerInfo.col {
  padding: 0 15px;
}

.footerInfo.col h4{
  text-align: center;
}

.footerInfo.col p{
  font-size: .8rem;
  text-align: justify;
}